@import "styles/reset.scss";

body {
  background-color: #dce6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: black;
  border-radius: 50px;
  width: 420px;
  height: 95%;
  padding: 50px 20px;
  box-sizing: border-box;
}

.header {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .header__list {
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
    width: max-content;

    .header__list-item {
      border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
      padding: 10px;
      border-radius: 20px;
      display: flex;
      align-items: center;
    }

    .header__list-item--inverted {
      color: black;
      background-color: white;
    }
  }
}

.cards {
  display: grid;
  gap: 10px;
  margin: 20px 0;
  grid-template:
    "first-left first-right"
    "second second"
    "third-left third-right"
    "fourth fourth" / 1fr 1fr;

  .cards__card {
    padding: 10px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    .cards__title {
      font-size: 28px;
    }

    .card__footer {
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      span {
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid black;
      }

      .length {
        background-color: white;
      }
    }

    &:nth-child(odd) .price {
      background-color: #e9affc;
    }

    &:nth-child(even) .price {
      background-color: #ffdd2c;
    }

    &:first-child {
      grid-area: first-left;
      background-color: #292d33;
      border: 1px solid white;

      .cards__title {
        color: white;
      }
    }

    &:nth-child(2) {
      grid-area: first-right;
      background-color: white;
    }

    &:nth-child(3) {
      grid-area: second;
      background-color: #f8fcb7;
    }

    &:nth-child(4) {
      grid-area: third-left;
      background-color: #b2a0f6;
    }

    &:nth-child(5) {
      grid-area: third-right;
      background-color: #fed4d4;
    }

    &:last-child {
      grid-area: fourth;
      background-color: #d0fedd;
    }
  }
}
