@import "styles/reset.scss";

$bg: #dde1d3;
$blue: #01a0c8;
$red: #d03022;
$burntRed: #573533;

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  width: 40%;
  height: 100%;
  background-color: $bg;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: 70px 1.2fr 70px 1fr 70px 1.2fr 70px;

  .top-left,
  .top-top,
  .top-right,
  .center-bottom {
    background-color: $blue;
  }

  .center-top,
  .bottom-left,
  .bottom-right,
  .bottom-bottom {
    background-color: $red;
  }

  .center-left,
  .center-right {
    background-color: $burntRed;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    grid-row: span 2;
  }

  .center-left,
  .center-right {
    grid-row: span 3;
  }

  .center-center {
    h1 {
      font-size: 75px;
    }
  }

  .top-bottom,
  .center-center,
  .bottom-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
    font-weight: 600;
  }
}
